<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164261206324-gncbte2k671p7l755u114u6vshmujrhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164261206324-gncbte2k671p7l755u114u6vshmujrhn</string>
	<key>API_KEY</key>
	<string>AIzaSyB_ztz5vLkjcKCzLyE0KV6mIi7WMb4QhMI</string>
	<key>GCM_SENDER_ID</key>
	<string>164261206324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstApp</string>
	<key>PROJECT_ID</key>
	<string>hackathonpractice-70811</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathonpractice-70811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164261206324:ios:3c7d79ef4b3fc115ffed61</string>
</dict>
</plist>